{# begin license ##
#
# Gemeenschappelijke Metadata Harvester (GMH) Resolver UI
# resolves nbn to locations
#
# Copyright (C) 2025 Koninklijke Bibliotheek (KB) https://www.kb.nl
# Copyright (C) 2025 Seecr (Seek You Too B.V.) https://seecr.nl
#
# This file is part of "GMH-Resolver-UI"
#
# "GMH-Resolver-UI" is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2 of the License, or
# (at your option) any later version.
#
# "GMH-Resolver-UI" is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with "GMH-Resolver-UI"; if not, write to the Free Software
# Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
#
## end license #}

{% extends "page.j2" %}

{% block main %}
    <div class="d-flex flex-column gap-3">
        <h1>Resolve identifier</h1>
        <p>Retrieve the actual location of an object by entering the persistent identifier in the form of a <code>URN:NBN:NL:UI-</code> or <code>URN:NBN:NL:HS-</code> in the search box below</p>

        <form class="container-fluid">
            <div class="row mb-2">
                <label for="input_identifier" class="col-sm-2 col-form-label">Identifier</label>
                <div class="col-sm-10">
                    <input class="form-control" type="text" name="identifier" id="input_identifier">
                </div>
            </div>

            <div class="row mb-2">
                <label for="input_show_locations" class="col-sm-2 form-check-label">Show locations</label>
                <div class="col-sm-10">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="show_locations" id="input_show_locations">
                  </div>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-sm-10 offset-sm-2"><button type="button" class="btn btn-primary" data-swl-button="{{ register('resolve_identifier') }}">Send</button></div>
            </div>
        </form>

    <div id="placeholder-results"></div>
    </div>
{% endblock %}
